<!doctype html>
<html lang="ko" class="web  fzoom">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="robots" content="index,nofollow"/>
    <title>NAVER</title>
    <link rel="stylesheet" type="text/css" href="https://mm.pstatic.net/css/ncache/build/w.b1245faa.css">
    <style>
        footer{ position:fixed;
        left:0px;
        bottom:0px;
        height:60px;
        width:100%;
        background:transparent;
        color: white;
        text-align: center;
         }

        .maincircle{
        width: 25px;
        height: 25px;
        background: #FFFFFF;
        border-radius: 50%;
        border: 0;
        outline: 0;
        }

        .gradient-wrapper { padding: 15px; border-radius: 50%; display: inline-block;
        background: #26FFB8; // As fallback for browsers which do not support gradient
        background: -webkit-linear-gradient(#26FFB8, #1BF80F);
        background: -o-linear-gradient(#26FFB8, #1BF80F);
        background: -moz-linear-gradient(#26FFB8, #1BF80F);
        background: linear-gradient(#26FFB8, #1BF80F);
}
    </style>
</head>
<body class="on_animation">
    <div id="MM_logo" class="sch_logo_container type_special">
        <div class="sch">
            <section>
                <div class="sch_wrap region_triple"
                     style="background: #06b664">
                    <div class="sch_inner">
                        <h1 class="sch_logo">
                            <a href="/" class="sch_logo_special" data-clk="nsplogo">
                                <picture>
                                    <source srcset="https://s.pstatic.net/static/www/mobile/edit/20220307_1095/upload_1646662367721twMqP.png" media="false">
                                    <img src="https://s.pstatic.net/static/www/mobile/edit/20220307_1095/upload_1646662367721twMqP.png"
                                        width="56" height="50" alt="NAVER">
                                </picture>
                            </a>
                        </h1>
                        <div class="sch_input_wrap">
                            <input id="MM_SEARCH_FAKE" name="query" type="search" title="검색어를 입력해주세요."
                                placeholder="검색어를 입력해주세요."
                                autocomplete="off" class="sch_input MM_SWIPE_IGNORE">
                        </div>
                        <button type="submit" class="sch_btn_search"
                                style="background: #06b664"><span class="blind">검색</span>
                        </button>
                        <div class="sch_region">
                            <button type="button" class="sch_btn_region sch_voice"
                                    data-ios-scheme="naversearchapp" data-ios-query="search?qmenu=voicerecg&amp;version=26"
                                    data-ios-install="393499958"
                                    data-ios-universal-fullurl="https://naverapp.m.naver.com/?urlScheme=naversearchapp%3A%2F%2Fsearch%3Fqmenu%3Dvoicerecg%26version%3D26"
                                    data-android-scheme="naversearchapp" data-android-query="search?qmenu=voicerecg&amp;version=26"
                                    data-android-package="com.nhn.android.search"
                                    onclick="window.nclk_v2(this, 'home.inspeak', '', '', 1);naver.mobile.launchApp(this);return false;">
                                <span class="sch_ico_mask MM_search_color" style data-color></span>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="sch_home_shortcut" id="HOME_SHORTCUT" style="visibility:visible">
	        <h2 class="blind">바로가기</h2>
	        <ul class="shs_list">
		        <li class="shs_item">
			        <a href="#" class="shs_link ITEM">
                        <div class="shs_service_mw">
                            <picture>
                                <source media="false" class="ICON_DARK">
				                <img width="44" height="44" alt="" class="shs_service_m ICON"
                                    onerror="this.parentNode.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                src="https://s.pstatic.net/static/www/mobile/edit/2021/0426/upload_16194098442401MHsE.png">
                            </picture>
                        </div>
				        <span class="shs_text TITLE">&nbsp;뉴스판</span>
			        </a>
		        </li>
		        <li class="shs_item">
			        <a href="#" class="shs_link ITEM">
                        <div class="shs_service_mw">
                            <picture>
                                <source media="false" class="ICON_DARK">
                                <img width="44" height="44" alt="" class="shs_service_m ICON"
                                onerror="this.parentNode.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                src="https://s.pstatic.net/static/www/mobile/edit/2021/0426/upload_16194099359615PPET.png">
                             </picture>
                        </div>
				        <span class="shs_text TITLE">&nbsp;쇼핑판</span>
			        </a>
		        </li>
		        <li class="shs_item">
			        <a href="#" class="shs_link ITEM">
                        <div class="shs_service_mw">
                            <picture>
                                <source media="false" class="ICON_DARK">
                                <img width="44" height="44" alt="" class="shs_service_m ICON"
                                onerror="this.parentNode.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                src="https://s.pstatic.net/static/www/mobile/edit/2021/0426/upload_16194098613516y6da.png">
                            </picture>
                        </div>
				        <span class="shs_text TITLE">&nbsp;경제지표판</span>
			        </a>
		        </li>
		        <li class="shs_item">
			        <a href="#" class="shs_link ITEM">
                        <div class="shs_service_mw">
                            <picture>
                                <source media="false" class="ICON_DARK">
                                <img width="44" height="44" alt="" class="shs_service_m ICON"
                                onerror="this.parentNode.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                src="https://s.pstatic.net/static/www/mobile/edit/2021/0426/upload_161940990062833vIT.png">
                            </picture>
                        </div>
                        <span class="shs_text TITLE">&nbsp;스포츠판</span>
                    </a>
                </li>
                <li class="shs_item">
                    <a href="#" class="shs_link ITEM">
                        <div class="shs_service_mw">
                            <picture>
                                <source media="false" class="ICON_DARK">
                                <img width="44" height="44" alt="" class="shs_service_m ICON"
                                     onerror="this.parentNode.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                src="https://s.pstatic.net/static/www/mobile/edit/2020/0319/mobile_19411917574.png">
                            </picture>
                        </div>
                        <span class="shs_text TITLE">&nbsp;메일</span>
                    </a>
                </li>
                <li class="shs_item">
                    <a href="#" class="shs_link ITEM">
                        <div class="shs_service_mw">
                            <picture>
                                <source media="false" class="ICON_DARK">
                                <img width="44" height="44" alt="" class="shs_service_m ICON"
                                     onerror="this.parentNode.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                src="https://s.pstatic.net/static/www/mobile/edit/2020/0319/mobile_191015178706.png">
                            </picture>
                        </div>
                        <span class="shs_text TITLE">&nbsp;카페</span>
                    </a>
                </li>
                <li class="shs_item">
                    <a href="#" class="shs_link ITEM">
                        <div class="shs_service_mw">
                            <picture>
                                <source media="false" class="ICON_DARK">
                                <img width="44" height="44" alt="" class="shs_service_m ICON"
                                     onerror="this.parentNode.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                src="https://s.pstatic.net/static/www/mobile/edit/2020/0319/mobile_181505455420.png">
                            </picture>
                        </div>
                        <span class="shs_text TITLE">&nbsp;블로그</span>
                    </a>
                </li>
                <li class="shs_item">
                    <a href="#" class="shs_link" data-clk="shortallser">
                        <div class="shs_service_mw">
                            <picture>
                                <source srcset="https://s.pstatic.net/static/www/mobile/edit/2021/0427/upload_1619497871869hiEPw.png" media="false">
                                <img data-src="https://s.pstatic.net/static/www/mobile/edit/2021/0427/upload_1619497854375Q53rw.png" width="44" height="44" alt="" class="shs_service_m ICON"
                                     onerror="this.parentNode.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';"
                                src="https://s.pstatic.net/static/www/mobile/edit/2021/0427/upload_1619497854375Q53rw.png">
                            </picture>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <a href="#" class="sch_home_aside " data-clk="drawer">
            <span class="sch_ico_aside"><span class="blind">확장 영역</span></span>
        </a>
        <div class="sch_home_mydata ">
            <div class="shm_service">
                <a href="#" class="shm_npay_link" data-clk="qrnpay">
                    <span class="shm_ico_npay">
                        <span class="blind">네이버페이</span>
                    </span>
                </a>
            </div>
            <div id="MM_MYSPACE_NOTI" class="shm_service">
                <a href="#" class="shm_notify_link" data-clk="drwicon">
                    <span class="shm_ico_notify">
                        <span class="blind">알림</span>
                    </span>
                </a>
                <a href="#" class="shm_notify_nudge MM_MYSPACE_NOTI_COACH">
                    <div class="shm_nudge_tooltip">
                        <p class="shm_message"></p>
                    </div>
                </a>
            </div>
            <div class="shm_service">
                <a href="#" class="shm_na_link" data-clk="profileclick">
                    <span class="blind">네이버 Na</span>
                    <div class="shm_na_profile">
                            <span class="shm_ico_logout"><span class="blind">비로그인</span></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div id="HOME_AD" class="id_nmap" data-unit-id="SU10740" data-da-ajax-call-param="su&#x3D;SU10749&amp;tb&#x3D;SEARCH_1&amp;mdom&#x3D;SU10740:-:main_search_specialda_1,SU10749:-:main_panel_ad" data-ad-type="normal" style="overflow:hidden;">
        <div class="nmap_wrapper">
            <div id="main_search_specialda_1" data-main-da="_MM_MAIN_DA" data-veta-preview="main_search_specialda_1">
                <div data-container-id="main_specialda_main_container" class="ad_main_search_home" da-data-r="1430" da-data-b="1779" da-type="n">
                    <a href="#" style="display:block;text-align: center;text-decoration:none;">
                            <span style="display: inline-block;max-width: 375px;vertical-align: top;">
                                <img src="https://ssl.pstatic.net/tveta/libs/1377/1377124/6d34dcd3181533db8d70_20220307141725645.png" alt="최대 74% 할인. 단하루 브랜드데이 특가. 간편하게 마시는 균형단백질 마이밀" style="display: block;width: calc(100% + 18px);max-width:375px;border:none;position: relative;left: 50%;transform: translate3d(-50%, 0, 0);">
                            </span>
                    </a>
                    <a href="#" style="position:absolute;left:10px;bottom:18px;">
                        <img src="https://ssl.pstatic.net/tveta/libs/res/mobile/special/campaign/guideButton.png" width="54" height="20" alt="광고안내" style="vertical-align: top;"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
<div id="MM_search_container" class="comp_container type_round_card" data-is-birthday="false">
    <div class="grid1_wrap brick-house">
        <div class="brick-vowel">
            <div id="MM_HOME_SEARCH_WEATHER" class="grid1 id_comp_weather _MM_WEATHER_BANNER">
	            <div class="comp_weather comp_card cw_fold">
                    <div class="cw_place_wrap">
                        <div class="cw_place_info _MM_COMMON_ROLLING" data-ui-rolling-display="flex">
                            <a href="#" class="cw_place" data-clk-prefix="home.weather" data-ui-rolling>
                                <div class="ico_cw_today">
                                    <div class="wt1">
                                        <div class="sun1"></div>
                                        <div class="sun2"></div>
                                    </div>
                                </div>
                                <div class="cw_info">
                                <strong class="info_main"><em class="temp">12°</em> 안산</strong>
                                <div class="info_sub">미세<em class="state">보통</em> &middot; 초미세<em class="state bad">나쁨</em></div>
                                </div>
                            </a>
                        </div>
                        <button type="button" class="cw_btn_expand" aria-expanded="false" data-clk="weatherunfold">
                            <span class="cw_expand_arrow"><i class="ico_arrow"></i><i class="ico_arrow arrow2"></i><i class="ico_arrow arrow3"></i>펼치기</span>
                        </button>
                        <button type="button" class="cw_btn_place _MM_WEATHER_LOC" data-clk="weatherhere"><span class="cw_text">내 위치찾기</span></button>
                    </div>
                    <div class="cw_notice_wrap">
                        <p class="notice_guide">위치 찾기를 눌러 현 위치의 시간대별·주간날씨와<br>미세먼지 예보를 여기에서 바로 보세요</p>
                    </div>
                </div>
            </div>
            <div id="MM_SEARCH_NOW" class="grid1 id_comp_now_player" data-block-id=""
                data-block-code="CAS_6170c62dd52dbb4f2157af02"
                data-block-type="BLOCK-SEARCH-NOW"
                data-block-position="5"
                data-template-code="SEARCH-NOW">
                <div class="comp_now_player comp_card cnp_fold">
                    <div class="cnp_title_area _MM_COMMON_ROLLING" data-ui-rolling-interval="30000">
                        <a class="cnp_title_wrap" href="#" data-now-type="live" data-status="READY" data-clk="nowlogo">
                            <h3 class="cnp_title">
                                <span class="cnp_now_logo">NOW.</span>
                                <span class="cnp_sub">지금 방송중</span>
                            </h3>
                        </a>
                    </div>
                    <div class="cnp_top_wrap">
                        <div class="scroll-area native_scroll">
                            <ul class="native_scroll_list cnp_schedule_list">
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="781" data-status="ONAIR"
                                       data-now-type="live">
                                        <img src="https://s.pstatic.net/nnow.phinf/20220308_31/1646723765573UNHb6_PNG/46e3c0.png?type&#x3D;f152_152" width="68" height="68" alt="Ep. 123 버섯요리 스페셜"
                                             class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">
                                        <div class="cnp_logo_wrap">
                                            <img src="https://s.pstatic.net/nnow.phinf/20220308_114/1646723765263UF9Jx_PNG/915ed2.png?type=m180_240" alt="Ep. 123 버섯요리 스페셜" class="cnp_logo" onerror="this.outerHTML='';">
                                        </div>
                                    </a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="766" data-status="ONAIR"
                                       data-now-type="live">
                                        <img src="https://s.pstatic.net/nnow.phinf/20220308_208/1646723763593z9377_PNG/8119a4.png?type&#x3D;f152_152" width="68" height="68" alt="싱어게인2 TOP10 💖배인혁💖"
                                             class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">
                                        <div class="cnp_logo_wrap">
                                            <img src="https://s.pstatic.net/nnow.phinf/20220308_135/1646723763253imF21_PNG/16325b.png?type=m180_240" alt="싱어게인2 TOP10 💖배인혁💖" class="cnp_logo" onerror="this.outerHTML='';">
                                        </div>
                                    </a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="931" data-status="ONAIR"
                                       data-now-type="live">
                                        <img src="https://s.pstatic.net/nnow.phinf/20220308_76/1646723769322eFoe0_PNG/304530.png?type&#x3D;f152_152" width="68" height="68" alt="장윤정&amp;송가인 홍자띵곡모아듣기"
                                             class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">0
                                        <div class="cnp_logo_wrap">
                                            <img src="https://s.pstatic.net/nnow.phinf/20220308_238/1646723768740BpeTl_PNG/63fa8b.png?type=m180_240" alt="장윤정&amp;송가인 홍자띵곡모아듣기" class="cnp_logo" onerror="this.outerHTML='';">
                                        </div>
                                    </a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="12653" data-status="ONAIR"
                                       data-now-type="live">
                                        <img src="https://s.pstatic.net/nnow.phinf/20220308_117/164672378013733hX8_PNG/60dbf3.png?type&#x3D;f152_152" width="68" height="68" alt="[Live] 오늘 경제 시황"
                                             class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">
                                        <div class="cnp_logo_wrap">
                                            <img src="https://s.pstatic.net/nnow.phinf/20220308_116/164672377995713Jpq_PNG/2de843.png?type=m180_240" alt="[Live] 오늘 경제 시황" class="cnp_logo" onerror="this.outerHTML='';">
                                        </div>
                                    </a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="617" data-status="ONAIR"
                                       data-now-type="live">
                                        <img src="https://s.pstatic.net/nnow.phinf/20220308_109/1646723757912MSuDj_PNG/3bc9af.png?type&#x3D;f152_152" width="68" height="68" alt="올데이 야작실 고퀄 밴드라이브"
                                             class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">
                                        <div class="cnp_logo_wrap">
                                            <img src="https://s.pstatic.net/nnow.phinf/20220308_1/1646723757439RWfC4_PNG/cbd8dc.png?type=m180_240" alt="올데이 야작실 고퀄 밴드라이브" class="cnp_logo" onerror="this.outerHTML='';">
                                        </div>
                                    </a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="10390" data-status="ONAIR"
                                       data-now-type="live">
                                        <img src="https://s.pstatic.net/nnow.phinf/20220308_175/1646723774340BMD6W_PNG/4d2785.png?type&#x3D;f152_152" width="68" height="68" alt="CLASS:y 온라인 팬미팅 재방송"
                                             class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">
                                        <div class="cnp_logo_wrap">
                                            <img src="https://s.pstatic.net/nnow.phinf/20220308_20/16467237741807i4P4_PNG/cc55a2.png?type=m180_240" alt="CLASS:y 온라인 팬미팅 재방송" class="cnp_logo" onerror="this.outerHTML='';">
                                        </div>
                                    </a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="14528" data-status="ONAIR"
                                       data-now-type="live">
                                        <img src="https://s.pstatic.net/nnow.phinf/20220308_299/1646723791799N8rFI_PNG/946f2b.png?type&#x3D;f152_152" width="68" height="68" alt="3/10(목) 8시 한국힙합어워즈"
                                             class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">
                                        <div class="cnp_logo_wrap">
                                            <img src="https://s.pstatic.net/nnow.phinf/20220308_199/16467237912848BQII_PNG/223321.png?type=m180_240" alt="3/10(목) 8시 한국힙합어워즈" class="cnp_logo" onerror="this.outerHTML='';">
                                        </div>
                                    </a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="14451" data-status="ONAIR"
                                       data-now-type="live">
                                        <img src="https://s.pstatic.net/nnow.phinf/20220308_43/1646723785688r8Fvv_PNG/2309fc.png?type&#x3D;f152_152" width="68" height="68" alt="📌3/11(금) 10PM 국가단 스페셜쇼"
                                             class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">

                                        <div class="cnp_logo_wrap">
                                            <img src="https://s.pstatic.net/nnow.phinf/20220308_84/1646723785504g2tDW_PNG/a2f71c.png?type=m180_240" alt="📌3/11(금) 10PM 국가단 스페셜쇼" class="cnp_logo" onerror="this.outerHTML='';">
                                        </div>
                                    </a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="14454" data-status="ONAIR"
                                       data-now-type="live">
                                        <img src="https://s.pstatic.net/nnow.phinf/20220308_127/1646723787521o2g77_PNG/6b7c80.png?type&#x3D;f152_152" width="68" height="68" alt="📌3/16 8PM JUST GO, TREASURE!"
                                             class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">
                                        <div class="cnp_logo_wrap">
                                            <img src="https://s.pstatic.net/nnow.phinf/20220308_51/1646723787315R8OFs_PNG/105609.png?type=m180_240" alt="📌3/16 8PM JUST GO, TREASURE!" class="cnp_logo" onerror="this.outerHTML='';">
                                        </div>
                                    </a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="11072" data-status="ONAIR"
                                       data-now-type="live">
                                        <img src="https://s.pstatic.net/nnow.phinf/20220308_142/16467237775953f1n3_PNG/fe220b.png?type&#x3D;f152_152" width="68" height="68" alt="가수 윤상이 고른 당신을 위한 음악"
                                             class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">
                                        <div class="cnp_logo_wrap">
                                            <img src="https://s.pstatic.net/nnow.phinf/20220308_272/1646723777254zYmat_PNG/764ebd.png?type=m180_240" alt="가수 윤상이 고른 당신을 위한 음악" class="cnp_logo" onerror="this.outerHTML='';">
                                        </div>
                                    </a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="615" data-status="ONAIR"
                                       data-now-type="live">
                                        <img src="https://s.pstatic.net/nnow.phinf/20220308_84/1646723753766KGGHc_PNG/329e7a.png?type&#x3D;f152_152" width="68" height="68" alt="AOMG 와 이.시.되의 만남🙋🏻‍♂️"
                                             class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">
                                        <div class="cnp_logo_wrap">
                                            <img src="https://s.pstatic.net/nnow.phinf/20220308_155/16467237534611pxhN_PNG/9528f3.png?type=m180_240" alt="AOMG 와 이.시.되의 만남🙋🏻‍♂️" class="cnp_logo" onerror="this.outerHTML='';">
                                        </div>
                                    </a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="10257" data-status="ONAIR"
                                       data-now-type="live">
                                        <img src="https://s.pstatic.net/nnow.phinf/20220308_7/1646723772510RMVNe_PNG/b91846.png?type&#x3D;f152_152" width="68" height="68" alt="매주 수요일 9시 AOMIX LIVE"
                                             class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">
                                        <div class="cnp_logo_wrap">
                                            <img src="https://s.pstatic.net/nnow.phinf/20220308_267/16467237723618STHd_PNG/be54c9.png?type=m180_240" alt="매주 수요일 9시 AOMIX LIVE" class="cnp_logo" onerror="this.outerHTML='';">
                                        </div>
                                    </a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule now_schedule"
                                       data-clk="nowtimetable"
                                       data-now-type="live"
                                       data-status="READY">
                                        <strong class="cnp_title">나우 편성표</strong>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="cnp_list_wrap">
                        <div class="scroll-area native_scroll"style="scroll-snap-type: none;">
                            <ul class="native_scroll_list cnp_schedule_list">
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="781" data-status="ONAIR"
                                       data-now-type="live">
                                        <img data-src="https://s.pstatic.net/nnow.phinf/20220308_31/1646723765573UNHb6_PNG/46e3c0.png?type&#x3D;m180_240" data-ondemand="true" width="100" height="138" alt="Ep. 123 버섯요리 스페셜" class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">
                                            <div class="cnp_logo_wrap">
                                                <img data-src="https://s.pstatic.net/nnow.phinf/20220308_114/1646723765263UF9Jx_PNG/915ed2.png?type=m180_240" data-ondemand="true" alt="Ep. 123 버섯요리 스페셜" class="cnp_logo"
                                                     onerror="this.outerHTML='';">
                                            </div>
                                        <span class="comp_ico_live">LIVE</span>
                                    </a>
                                    <a href="#" class="cnp_schedule_title" data-clk="nowupplay" data-now-id="781" data-now-id="781"
                                       data-status="ONAIR" data-now-type="live">Ep. 123 버섯요리 스페셜</a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="766" data-status="ONAIR"
                                       data-now-type="live">
                                        <img data-src="https://s.pstatic.net/nnow.phinf/20220308_208/1646723763593z9377_PNG/8119a4.png?type&#x3D;m180_240" data-ondemand="true" width="100" height="138" alt="싱어게인2 TOP10 💖배인혁💖" class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">
                                            <div class="cnp_logo_wrap">
                                                <img data-src="https://s.pstatic.net/nnow.phinf/20220308_135/1646723763253imF21_PNG/16325b.png?type=m180_240" data-ondemand="true" alt="싱어게인2 TOP10 💖배인혁💖" class="cnp_logo"
                                                     onerror="this.outerHTML='';">
                                            </div>
                                        <span class="comp_ico_live">LIVE</span>
                                    </a>
                                    <a href="#" class="cnp_schedule_title" data-clk="nowupplay" data-now-id="766" data-now-id="766"
                                       data-status="ONAIR" data-now-type="live">싱어게인2 TOP10 💖배인혁💖</a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="931" data-status="ONAIR"
                                       data-now-type="live">
                                        <img data-src="https://s.pstatic.net/nnow.phinf/20220308_76/1646723769322eFoe0_PNG/304530.png?type&#x3D;m180_240" data-ondemand="true" width="100" height="138" alt="장윤정&amp;송가인 홍자띵곡모아듣기" class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">
                                            <div class="cnp_logo_wrap">
                                                <img data-src="https://s.pstatic.net/nnow.phinf/20220308_238/1646723768740BpeTl_PNG/63fa8b.png?type=m180_240" data-ondemand="true" alt="장윤정&amp;송가인 홍자띵곡모아듣기" class="cnp_logo"
                                                     onerror="this.outerHTML='';">
                                            </div>
                                        <span class="comp_ico_live">LIVE</span>
                                    </a>
                                    <a href="#" class="cnp_schedule_title" data-clk="nowupplay" data-now-id="931" data-now-id="931"
                                       data-status="ONAIR" data-now-type="live">장윤정&amp;송가인 홍자띵곡모아듣기</a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="12653" data-status="ONAIR"
                                       data-now-type="live">
                                        <img data-src="https://s.pstatic.net/nnow.phinf/20220308_117/164672378013733hX8_PNG/60dbf3.png?type&#x3D;m180_240" data-ondemand="true" width="100" height="138" alt="[Live] 오늘 경제 시황" class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">
                                            <div class="cnp_logo_wrap">
                                                <img data-src="https://s.pstatic.net/nnow.phinf/20220308_116/164672377995713Jpq_PNG/2de843.png?type=m180_240" data-ondemand="true" alt="[Live] 오늘 경제 시황" class="cnp_logo"
                                                     onerror="this.outerHTML='';">
                                            </div>
                                        <span class="comp_ico_live">LIVE</span>
                                    </a>
                                    <a href="#" class="cnp_schedule_title" data-clk="nowupplay" data-now-id="12653" data-now-id="12653"
                                       data-status="ONAIR" data-now-type="live">[Live] 오늘 경제 시황</a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="617" data-status="ONAIR"
                                       data-now-type="live">
                                        <img data-src="https://s.pstatic.net/nnow.phinf/20220308_109/1646723757912MSuDj_PNG/3bc9af.png?type&#x3D;m180_240" data-ondemand="true" width="100" height="138" alt="올데이 야작실 고퀄 밴드라이브" class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">
                                            <div class="cnp_logo_wrap">
                                                <img data-src="https://s.pstatic.net/nnow.phinf/20220308_1/1646723757439RWfC4_PNG/cbd8dc.png?type=m180_240" data-ondemand="true" alt="올데이 야작실 고퀄 밴드라이브" class="cnp_logo"
                                                     onerror="this.outerHTML='';">
                                            </div>
                                    </a>
                                    <a href="#" class="cnp_schedule_title" data-clk="nowupplay" data-now-id="617" data-now-id="617"
                                       data-status="ONAIR" data-now-type="live">올데이 야작실 고퀄 밴드라이브</a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="10390" data-status="ONAIR"
                                       data-now-type="live">
                                        <img data-src="https://s.pstatic.net/nnow.phinf/20220308_175/1646723774340BMD6W_PNG/4d2785.png?type&#x3D;m180_240" data-ondemand="true" width="100" height="138" alt="CLASS:y 온라인 팬미팅 재방송" class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">
                                            <div class="cnp_logo_wrap">
                                                <img data-src="https://s.pstatic.net/nnow.phinf/20220308_20/16467237741807i4P4_PNG/cc55a2.png?type=m180_240" data-ondemand="true" alt="CLASS:y 온라인 팬미팅 재방송" class="cnp_logo"
                                                     onerror="this.outerHTML='';">
                                            </div>
                                    </a>
                                    <a href="#" class="cnp_schedule_title" data-clk="nowupplay" data-now-id="10390" data-now-id="10390"
                                       data-status="ONAIR" data-now-type="live">CLASS:y 온라인 팬미팅 재방송</a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="14528" data-status="ONAIR"
                                       data-now-type="live">
                                        <img data-src="https://s.pstatic.net/nnow.phinf/20220308_299/1646723791799N8rFI_PNG/946f2b.png?type&#x3D;m180_240" data-ondemand="true" width="100" height="138" alt="3/10(목) 8시 한국힙합어워즈" class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">
                                            <div class="cnp_logo_wrap">
                                                <img data-src="https://s.pstatic.net/nnow.phinf/20220308_199/16467237912848BQII_PNG/223321.png?type=m180_240" data-ondemand="true" alt="3/10(목) 8시 한국힙합어워즈" class="cnp_logo"
                                                     onerror="this.outerHTML='';">
                                            </div>
                                        <span class="cnp_ico_date">D-2</span>
                                    </a>
                                    <a href="#" class="cnp_schedule_title" data-clk="nowupplay" data-now-id="14528" data-now-id="14528"
                                       data-status="ONAIR" data-now-type="live">3/10(목) 8시 한국힙합어워즈</a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="14451" data-status="ONAIR"
                                       data-now-type="live">
                                        <img data-src="https://s.pstatic.net/nnow.phinf/20220308_43/1646723785688r8Fvv_PNG/2309fc.png?type&#x3D;m180_240" data-ondemand="true" width="100" height="138" alt="📌3/11(금) 10PM 국가단 스페셜쇼" class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">
                                            <div class="cnp_logo_wrap">
                                                <img data-src="https://s.pstatic.net/nnow.phinf/20220308_84/1646723785504g2tDW_PNG/a2f71c.png?type=m180_240" data-ondemand="true" alt="📌3/11(금) 10PM 국가단 스페셜쇼" class="cnp_logo"
                                                     onerror="this.outerHTML='';">
                                            </div>
                                        <span class="cnp_ico_date">D-3</span>
                                    </a>
                                    <a href="#" class="cnp_schedule_title" data-clk="nowupplay" data-now-id="14451" data-now-id="14451"
                                       data-status="ONAIR" data-now-type="live">📌3/11(금) 10PM 국가단 스페셜쇼</a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="14454" data-status="ONAIR"
                                       data-now-type="live">
                                        <img data-src="https://s.pstatic.net/nnow.phinf/20220308_127/1646723787521o2g77_PNG/6b7c80.png?type&#x3D;m180_240" data-ondemand="true" width="100" height="138" alt="📌3/16 8PM JUST GO, TREASURE!" class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">

                                            <div class="cnp_logo_wrap">
                                                <img data-src="https://s.pstatic.net/nnow.phinf/20220308_51/1646723787315R8OFs_PNG/105609.png?type=m180_240" data-ondemand="true" alt="📌3/16 8PM JUST GO, TREASURE!" class="cnp_logo"
                                                     onerror="this.outerHTML='';">
                                            </div>

                                        <span class="cnp_ico_date">D-8</span>
                                    </a>
                                    <a href="#" class="cnp_schedule_title" data-clk="nowupplay" data-now-id="14454" data-now-id="14454"
                                       data-status="ONAIR" data-now-type="live">📌3/16 8PM JUST GO, TREASURE!</a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="11072" data-status="ONAIR"
                                       data-now-type="live">
                                        <img data-src="https://s.pstatic.net/nnow.phinf/20220308_142/16467237775953f1n3_PNG/fe220b.png?type&#x3D;m180_240" data-ondemand="true" width="100" height="138" alt="가수 윤상이 고른 당신을 위한 음악" class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">
                                            <div class="cnp_logo_wrap">
                                                <img data-src="https://s.pstatic.net/nnow.phinf/20220308_272/1646723777254zYmat_PNG/764ebd.png?type=m180_240" data-ondemand="true" alt="가수 윤상이 고른 당신을 위한 음악" class="cnp_logo"
                                                     onerror="this.outerHTML='';">
                                            </div>
                                    </a>
                                    <a href="#" class="cnp_schedule_title" data-clk="nowupplay" data-now-id="11072" data-now-id="11072"
                                       data-status="ONAIR" data-now-type="live">가수 윤상이 고른 당신을 위한 음악</a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="615" data-status="ONAIR"
                                       data-now-type="live">
                                        <img data-src="https://s.pstatic.net/nnow.phinf/20220308_84/1646723753766KGGHc_PNG/329e7a.png?type&#x3D;m180_240" data-ondemand="true" width="100" height="138" alt="AOMG 와 이.시.되의 만남🙋🏻‍♂️" class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">
                                            <div class="cnp_logo_wrap">
                                                <img data-src="https://s.pstatic.net/nnow.phinf/20220308_155/16467237534611pxhN_PNG/9528f3.png?type=m180_240" data-ondemand="true" alt="AOMG 와 이.시.되의 만남🙋🏻‍♂️" class="cnp_logo"
                                                     onerror="this.outerHTML='';">
                                            </div>
                                    </a>
                                    <a href="#" class="cnp_schedule_title" data-clk="nowupplay" data-now-id="615" data-now-id="615"
                                       data-status="ONAIR" data-now-type="live">AOMG 와 이.시.되의 만남🙋🏻‍♂️</a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="#" class="cnp_schedule" data-clk="nowupplay" data-now-id="10257" data-status="ONAIR"
                                       data-now-type="live">
                                        <img data-src="https://s.pstatic.net/nnow.phinf/20220308_7/1646723772510RMVNe_PNG/b91846.png?type&#x3D;m180_240" data-ondemand="true" width="100" height="138" alt="매주 수요일 9시 AOMIX LIVE" class="cnp_m"
                                             onerror="this.closest('.cnp_schedule').classList.add('cnp_noimage'); this.outerHTML='<span class=\'comp_noimage\'><span class=\'blind\'>이미지 준비중</span></span>';">
                                            <div class="cnp_logo_wrap">
                                                <img data-src="https://s.pstatic.net/nnow.phinf/20220308_267/16467237723618STHd_PNG/be54c9.png?type=m180_240" data-ondemand="true" alt="매주 수요일 9시 AOMIX LIVE" class="cnp_logo"
                                                     onerror="this.outerHTML='';">
                                            </div>
                                    </a>
                                    <a href="#" class="cnp_schedule_title" data-clk="nowupplay" data-now-id="10257" data-now-id="10257"
                                       data-status="ONAIR" data-now-type="live">매주 수요일 9시 AOMIX LIVE</a>
                                </li>
                                <li class="cnp_schedule_item">
                                    <a href="https://now.naver.com/schedule" class="cnp_schedule now_schedule"
                                       data-clk="nowtimetable"
                                       data-now-type="live"
                                       data-status="READY">
                                        <strong class="cnp_title">나우 편성표</strong>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="brick-vowel"></div>
        <div class="brick-vowel"></div>
    </div>
</div>
    <footer><div class="gradient-wrapper">
  <button class="maincircle">
    &nbsp;
  </button>
</div></footer>
</body>
</html>